In [1]:
import pandas as pd 
from sklearn import tree

In [2]:
df = pd.read_excel('gender.xlsx')

In [3]:
df.shape

(10, 4)

In [4]:
df

   Height  Weight  Shoe Size  Gender
0     181      80         44    male
1     177      70         43  female
2     160      60         38  female
3     154      54         37  female
4     166      65         40    male
5     190      90         47    male
6     175      64         39    male
7     171      75         42  female
8     185      85         43  female
9     169      71         42    male

In [5]:
x =  df.iloc[:,:-1]
x

   Height  Weight  Shoe Size
0     181      80         44
1     177      70         43
2     160      60         38
3     154      54         37
4     166      65         40
5     190      90         47
6     175      64         39
7     171      75         42
8     185      85         43
9     169      71         42

In [6]:
y = df.iloc[:,3]
y

0      male
1    female
2    female
3    female
4      male
5      male
6      male
7    female
8    female
9      male
Name: Gender, dtype: object

In [7]:
clf = tree.DecisionTreeClassifier()

In [8]:
clf = clf.fit(x, y)

In [9]:
pred = clf.predict([[170, 70, 41]])
pred

/Users/masudulislam/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['male'], dtype=object)

In [10]:
import pandas as pd

In [11]:
df = pd.read_excel('shopping-decision tress.xlsx')

In [12]:
df

     Age   Income   Gender    Status   Buy
0    <25      High    Male    Single    No
1    <25      High    Male   Married    No
2   25-35     High    Male    Single   Yes
3     >35  Medium   Female    Single   Yes
4     >35      Low  Female    Single   Yes
5     >35      Low  Female    Single    No
6   25-35      Low    Male   Married   Yes
7    <25   Medium   Female   Married    No
8    <25       Low  Female    Single   Yes
9     >35  Medium   Female   Married   Yes
10   <25   Medium     Male    Single   Yes
11  25-35  Medium     Male   Married   Yes
12  25-35     High  Female    Single   Yes
13    >35  Medium     Male   Married    No
14   <25      High    Male    Single    No

In [13]:
x = df.iloc[:,:-1] # seperateing Buy column from dataset

In [14]:
y = df.iloc[:,4]
y

0      No
1      No
2     Yes
3     Yes
4     Yes
5      No
6     Yes
7      No
8     Yes
9     Yes
10    Yes
11    Yes
12    Yes
13     No
14     No
Name: Buy, dtype: object

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
le = LabelEncoder()

In [17]:
x = x.apply(LabelEncoder().fit_transform)

In [18]:
x

    Age   Income   Gender   Status
0      1        0        1        1
1      1        0        1        0
2      0        0        1        1
3      2        2        0        1
4      2        1        0        1
5      2        1        0        1
6      0        1        1        0
7      1        2        0        0
8      1        1        0        1
9      2        2        0        0
10     1        2        1        1
11     0        2        1        0
12     0        0        0        1
13     2        2        1        0
14     1        0        1        1

In [19]:
from sklearn.tree import DecisionTreeClassifier

In [20]:
import numpy as np

In [21]:
clf = DecisionTreeClassifier()

In [22]:
clf.fit(x.iloc[:,0:4], y)

DecisionTreeClassifier()

In [29]:
xinput = np.array([2, 0, 1, 1])

In [30]:
ypred = clf.predict([xinput])
ypred

/Users/masudulislam/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['No'], dtype=object)