In [8]:
import pandas as pd 
import numpy as np
from sklearn import linear_model

In [9]:
car_data = pd.read_excel('multiple linear regression car data.xlsx')

In [11]:
car_data.head(6)

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

In [12]:
car_data.shape

(6, 4)

In [13]:
car_data.experience

0     5.0
1    13.0
2     4.0
3     NaN
4     3.0
5     8.0
Name: experience, dtype: float64

In [14]:
exp_fit = car_data.experience.median()
exp_fit

5.0

In [24]:
car_data.experience = car_data.experience.fillna(exp_fit)

In [25]:
car_data.experience

0     5.0
1    13.0
2     4.0
3     5.0
4     3.0
5     8.0
Name: experience, dtype: float64

In [26]:
reg = linear_model.LinearRegression()

In [27]:
reg.fit(car_data[['speed','car_age','experience']], car_data.risk)

LinearRegression()

In [28]:
reg.predict([[160, 10, 5]])

/Users/masudulislam/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([71.37146872])

In [29]:
reg.coef_

array([ 0.33059217,  1.61053246, -6.20772074])

In [30]:
reg.intercept_

33.410000910435905

In [31]:
# y = m1*speed + m2*car_age + m3*experience +intercept

0.33059217*160 + 1.61053246*10 + (-6.20772074*5) + 33.410000910435905

71.3714690104359