In [312]:
import pandas as pd 
import numpy as np
from sklearn import tree
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
%matplotlib inline

In [313]:
df = pd.read_excel('Loan requests.xlsx')

In [314]:
df.head()

   Loan Request ID  Gender  Age  Salary Approval
0              732  Female   39  137000      Yes
1              258  Female   41   65500       No
2             1059    Male   42  146500      Yes
3             1075    Male   62   83000      Yes
4              853    Male   42   75000       No

In [315]:
df = df.drop('Loan Request ID', axis = 'columns')

In [316]:
from sklearn.preprocessing import OneHotEncoder

In [317]:
ohc = OneHotEncoder()
ohc.fit_transform(df[['Gender']]).toarray()

array([[1., 0.],
       [1., 0.],
       [0., 1.],
       ...,
       [1., 0.],
       [0., 1.],
       [1., 0.]])

In [318]:
dv = pd.get_dummies(df['Gender'], drop_first = True)
dv.head()

   Male
0     0
1     0
2     1
3     1
4     1

In [319]:
new_df = df.drop('Gender', axis = 1) # dropping the "Gender" column 
new_df.head()

   Age  Salary Approval
0   39  137000      Yes
1   41   65500       No
2   42  146500      Yes
3   62   83000      Yes
4   42   75000       No

In [320]:
df = pd.concat([new_df, dv], axis = 1)
df.head()

   Age  Salary Approval  Male
0   39  137000      Yes     0
1   41   65500       No     0
2   42  146500      Yes     1
3   62   83000      Yes     1
4   42   75000       No     1

In [321]:
x = df.drop(columns=['Approval'], axis=1)
y = df['Approval']

# train_test_split

In [322]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.25, random_state=1)

In [323]:
# model training 

#from sklearn.linear_model import LogisticRegression 
#model = LogisticRegression()
#model.fit(xtrain, ytrain) # perform bad

from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(xtrain, ytrain) # perform better

RandomForestClassifier()

# Enter the desire parameter for loan request

In [324]:
xinput = np.array([30, 70000, 0])  # 1 = female, 0 = male
ypred = model.predict([xinput])
ypred

/Users/masudulislam/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array(['No'], dtype=object)

In [326]:
# model accurecy 
print('Accuracy is', model.score(xtest, ytest)*100, '%')

Accuracy is 90.8 %